.wrapper {
  --pic-width: 100px;
  --pic-height: 100px;

  .pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;

    .picWrapper {
      width: var(--pic-width);
      height: var(--pic-height);
      cursor: pointer;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 1s;
      }

      &[data-selected="true"] {
        img {
          filter: grayscale(1) sepia(0.7) brightness(0.8);
        }
      }
    }
  }

  .frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: calc(var(--pic-height) + 20px);
    width: calc(var(--pic-width) + 20px);

    border: 4px solid var(--foreground-color);
    opacity: 0.2;
    z-index: -1;
  }
}
