.wrapper {
  --pic-width: 100px;
  --pic-height: 120px;
  height: 100svh;
  position: relative;

  .pics {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;

    .picWrapper {
      width: var(--pic-width);
      height: var(--pic-height);
      cursor: pointer;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: filter 0.5s;
      }

      &[data-selected="true"] {
        img {
          filter: grayscale(1) sepia(0.2);
        }

        .overlay {
          opacity: 0.3;
        }
      }
    }
  }

  .frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(var(--pic-height) + 20px);
    width: calc(var(--pic-width) + 20px);
    z-index: 0;

    span{
      position: absolute;
      height: 30px;
      width: 30px;
      border: 4px solid var(--foreground-color);
      opacity: 0.3;
      
      &:nth-child(1){
        top: 0;
        left: 0;
        border-right: none;
        border-bottom: none;
      }

      &:nth-child(2){
        top: 0;
        right: 0;
        border-left: none;
        border-bottom: none;
      }

      &:nth-child(3){
        bottom: 0;
        left: 0;
        border-right: none;
        border-top: none;
      }
      &:nth-child(4){
        bottom: 0;
        right: 0;
        border-left: none;
        border-top: none;
      }
    }
  }

  &::after {
    content: "";
    z-index: 0;
    position: absolute;
    inset: 0;
    pointer-events: none;

    background-color: var(--background-color);

    mask-image: linear-gradient(
      to bottom,
      black 0%,
      black 10%,
      transparent 30%,
      transparent 70%,
      black 90%,
      black 100%
    );
    -webkit-mask-image: linear-gradient(
      to bottom,
      black 0%,
      black 10%,
      transparent 30%,
      transparent 70%,
      black 90%,
      black 100%
    );
  }
}
