.container {
  height: 100svh;
  width: 100%;

  padding: 0 var(--outer-margin);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 12px;

  .leftContent {
    grid-column-start: 2;
    grid-column-end: 4;

    display: flex;
    flex-direction: column;
    row-gap: 48px;
    justify-content: center;

    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing);

    dl {
      display: grid;
      row-gap: 24px;

      div {
        dt {
          opacity: 0.3;
        }

        dd {
          margin: 0;
        }
      }
    }
  }

  .rightContent {
    grid-column-start: 10;
    grid-column-end: 12;
    height: 100%;
    overflow: hidden;

    .pics {
      display: flex;
      flex-direction: column;
      row-gap: 1em;
      align-items: center;

      .picWrapper {
        width: 5em;
        height: 7em;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
