.container {
  height: 100svh;
  width: 100%;

  padding: 0 var(--outer-margin);

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 12px;

  .leftContent {
    grid-column-start: 2;
    grid-column-end: 4;

    display: flex;
    flex-direction: column;
    row-gap: 48px;
    justify-content: center;

    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--letter-spacing);

    dl {
      display: grid;
      row-gap: 24px;

      div {
        dt {
          opacity: 0.3;
        }

        dd {
          margin: 0;
        }
      }
    }
  }

  .centerContent {
    grid-column-start: 4;
    grid-column-end: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 90vh;
      max-width: 100%;
    }
  }

  .rightContent {
    position: relative;

    grid-column-start: 10;
    grid-column-end: 12;
    height: 100%;
    overflow: hidden;
  }
}
