.container {
  .gallery {
    background-color: var(--background-color);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: var(--outer-margin);

    min-height: 100svh;

    /* Content that needs to stay in the viewport while scrolling */
    .wrapper {
      position: absolute;
      inset: 0;
      z-index: 2;
      pointer-events: none;

      .sticky {
        position: sticky;
        top: 0;

        height: 100dvh;
        width: 100%;

        padding: var(--outer-margin);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .plusMarkers {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          svg {
            height: clamp(20px, 6vw, 120px);
          }
        }

        .actions {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end;
          pointer-events: auto;
        }
      }
    }

    /* Actual gallery images wrapper */
    .content {
      z-index: 1;
      padding-top: 160px;
      padding-bottom: 64px;

      @media (max-width: 768px) {
        padding-top: 64px;
      }
    }

    .loadMore {
      z-index: 3;
      width: fit-content;
      margin: 0 auto;
    }
  }
}
