.container {
  .gallery {
    background-color: var(--background-color);

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: var(--outer-margin);

    min-height: 100svh;

    /* Content that needs to stay in the viewport while scrolling */
    .wrapper {
      position: absolute;
      inset: 0;
      z-index: 2;
      pointer-events: none;

      .sticky {
        position: sticky;
        top: 0;

        height: 100svh;
        width: 100%;

        padding: var(--outer-margin);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .plusMarkers {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          svg {
            height: 120px;
          }
        }

        .actions {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end;
          pointer-events: auto;
        }
      }
    }

    /* Actual gallery images wrapper */
    .content {
      z-index: 1;
      padding-top: 160px;
      padding-bottom: 64px;
    }

    .error{
      z-index: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-content: center;

      p{
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-medium);
        letter-spacing: var(--letter-spacing);
      }

      img{
        z-index: -1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -55%);
        opacity: 0.1;
        filter: blur(0.1em);
        width: 40%;
      }

    }

    .loadMore {
      z-index: 3;
      width: fit-content;
      margin: 0 auto;
    }
  }
}
