.scrollToTopBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  div {
    display: flex;
    flex-direction: column;
    align-items: end;
    span {
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-small);
      letter-spacing: var(--letter-spacing);
    }
  }
}
