.error {
  z-index: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;

  p {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-medium);
    letter-spacing: var(--letter-spacing);
  }

  img {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    opacity: 0.1;
    filter: blur(0.1em);
    width: 50%;
  }
}
