.switcher {
  display: flex;
  flex-direction: column;
  row-gap: 6px;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    span {
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-small);
      letter-spacing: var(--letter-spacing);
      opacity: 0.4;
    }

    &[data-selected="true"] {
      span {
        opacity: 1;
        &::before {
          content: "-";
        }
      }
    }
  }
}
