.ellipsis {
  position: relative;
  width: 80px;
  height: 80px;

  div {
    opacity: 1;
    position: absolute;
    top: 33.33333px;
    width: 13.33333px;
    height: 13.33333px;
    border-radius: 50%;
    background: #9f9d99;

    &:nth-child(1) {
      left: 8px;
      animation: ellipsis1 1s infinite;
    }

    &:nth-child(2) {
      left: 8px;
      animation: ellipsis2 1s infinite;
    }

    &:nth-child(3) {
      left: 32px;
      animation: ellipsis2 1s infinite;
    }

    &:nth-child(4) {
      left: 56px;
      animation: ellipsis3 1s infinite;
      filter: blur(0);
    }
  }
}

@keyframes ellipsis1 {
  0% {
    transform: scale(0.8);
    opacity: 0;
    filter: blur(0.2em);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes ellipsis3 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
