.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 6rem var(--outer-margin) var(--outer-margin) var(--outer-margin);

  .maskedTitle {
    align-self: center;

    /* Font as wide at the window */
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing);
    line-height: 0.9em;
    margin: 0px;
    padding: 0 24px;

    /* Clipping mask */
    background: url("../../assets/img/hero_text_bg.png");
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .imgWrapper {
    flex: 1 1 100%;
    overflow: hidden;
    min-height: 50vh;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
