.loadMore {
  background-color: transparent;
  width: fit-content;
  align-self: center;
  padding: 1em 3em;
  border: 3px solid var(--foreground-color);
  border-radius: 32px;
  cursor: pointer;

  @media(max-width: 768px){
    padding: 0.3em 1.5em;
  }

  span {
    font-size: 2rem;
    font-weight: var(--font-weight-medium);
  }
}
