.loadMore {
  background-color: transparent;
  width: fit-content;
  align-self: center;
  padding: 1em 3em;
  border: 2px solid var(--foreground-color);
  border-radius: 32px;

  span {
    font-size: 2rem;
    font-weight: var(--font-weight-medium);
  }
}
