.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: var(--outer-margin);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 99;

  .logo {
    width: 90px;
    height: auto;
  }

  .links {
    display: flex;
    flex-direction: column;
    row-gap: 6px;

    * {
      color: var(--foreground-color);
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-small);
      letter-spacing: var(--letter-spacing);
      text-decoration: none;
      text-align: right;
      justify-content: end;
    }
  }
}
