.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;

  span {
    transition: transform 0.6s var(--ease-custom), filter 0.6s var(--ease-custom) 0.1s;

    &:nth-child(1) {
      transform: translateY(0%);
      filter: blur(0);
    }

    &:nth-child(2) {
      position: absolute;
      transform: translateY(120%) scale(0.9);
      filter: blur(0.2rem);
    }
  }

  &:hover {
    span {
      &:nth-child(1) {
        transform: translateY(-120%);
        filter: blur(0.2rem);
      }

      &:nth-child(2) {
        transform: translateY(0%) scale(1);
        filter: blur(0);
      }
    }
  }
}
