.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 36px;

  .masonry {
    /* width: 100%; */
    grid-column-start: 2;
    grid-column-end: 12;

    .frame {
      width: 100%;

      .imgWrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          width: 100%;
          transition: filter 1s, transform 1s;
          cursor: pointer;

          &:hover {
            filter: grayscale(1) sepia(0.7) brightness(0.8);
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
