
.container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;

  .author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: clamp(1rem, 1vw + 1rem, 3rem);
      letter-spacing: var(--letter-spacing);
      font-weight: var(--font-weight-medium);
      margin: 0;
    }

    svg {
      height: clamp(20px, 6vw, 120px);
    }
  }

  .image {
    height: 80vh;
    background-image: url("../../assets/img/home_hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo{
    width: 100%;
    position: relative;

    img{
      z-index: -1;
      width: clamp(50px, 10vw, 200px);
      position: absolute;
      opacity: 0.2;

      &:nth-of-type(1){
        top: -5%;
        left: 5%;
      }

      &:nth-of-type(2){
        bottom: 5%;
        left: 40%;
      }

      &:nth-of-type(3){
        bottom: 30%;
        right: 20%;
      }
    }
  }

  @media (max-width: 768px){
    row-gap: 24px;
  }
}
