:root {
  --background-color: #fbf7ef;
  --foreground-color: #1f1f1f;
}

* {
  font-family: Golos, sans-serif;
}

@font-face {
  font-family: Golos;
  src: url(./assets/fonts/Golos/GolosText-VariableFont.ttf) format("truetype");
}

body {
  margin: 0;
}
