:root {
  /* Colors */
  --background-color: #fbf7ef;
  --foreground-color: #0c0c0c;

  /* Measurements */
  --outer-margin: 24px;
  --top-margin: 9rem;

  /* Fonts */
  --font-weight-medium: 500;
  --font-weight-bold: 800;

  --font-size-title: 18vw;
  --font-size-header: clamp(4rem, 13vw + 1.5rem, 17rem);
  --font-size-small: clamp(1rem, 2vw, 1.5rem);

  --letter-spacing: -0.03em;

  /* Animations */
  --ease-custom: cubic-bezier(0.33, 1, 0.68, 1);
}

::selection {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

@font-face {
  font-family: "Golos";
  src: url(./assets/fonts/Golos/GolosText-VariableFont.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Golos", sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  color: var(--foreground-color);
}

path {
  fill: var(--foreground-color);
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--background-color);
}

body::before {
  position: fixed;

  /* Needed to display the before element*/
  content: "";

  /* Bigger than viewport to hide the movement */
  width: 300%;
  height: 300%;
  left: -50%;
  top: -100%;

  /* Needed to be able to interact with the rest of the UI */
  z-index: -1;

  /* Noise image as background */
  background-image: url("./assets/noise.png");
  background-repeat: repeat;
  opacity: 80%;

  animation: film-grain 20s steps(10) infinite;
}

@keyframes film-grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 25%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
