.hero {
  height: 100svh;
  width: 100%;
  overflow: hidden;

  /* Next section needs to scroll over the hero */
  position: sticky;
  top: 0;

  padding: var(--top-margin) var(--outer-margin) var(--outer-margin) var(--outer-margin);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  z-index: -1;

  .title {
    z-index: 2;

    h1 {
      text-align: center;
      text-transform: uppercase;

      font-size: clamp(4rem, 13vw + 2rem, 20rem);
      letter-spacing: var(--letter-spacing);
      font-weight: var(--font-weight-bold);
      margin: 0;
      line-height: 80%;
    }
  }

  .heroImg {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
    }

    @media (max-width: 768px) {
      height: 60%;
    }
  }

  .captions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
      margin: 0;
      letter-spacing: var(--letter-spacing);
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-small);

      &.mobileCaption {
        display: none;
        text-align: center;
      }
    }

    @media (max-width: 768px) {
      justify-content: center;
      margin-bottom: 24px;
      p {
        &:not(.mobileCaption) {
          display: none;
        }

        &.mobileCaption {
          display: block;
        }
      }
    }
  }
}
