.container {
  height: 100svh;
  position: relative;

  .heading {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 0;

    h1 {
      margin: 0;
      font-weight: var(--font-weight-bold);
      letter-spacing: var(--letter-spacing);
      font-size: max(25vw, 10rem);
      line-height: 1em;
    }

    p {
      margin: 0;
      font-weight: var(--font-weight-medium);
      letter-spacing: var(--letter-spacing);
      font-size: var(--font-size-medium);
    }
  }

  .planes {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;

    .plane {
      position: absolute;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
      }

      &:nth-of-type(1) {
        opacity: 1;
        filter: blur(0.07em);
        z-index: 10;

        img {
          filter: invert(0.75);

          &:nth-of-type(1) {
            left: -5%;
            top: 15%;
            width: 35%;
          }

          &:nth-of-type(2) {
            right: 25%;
            top: 55%;
            width: 15%;
          }
        }
      }

      &:nth-of-type(2) {
        opacity: 0.1;
        filter: blur(0.15em);
        z-index: 9;

        img {
          &:nth-child(1) {
            bottom: 2%;
            left: 20%;
            width: 23%;
          }

          &:nth-child(2) {
            right: 10%;
            top: 20%;
            width: 7%;
          }
        }
      }

      &:nth-of-type(3) {
        opacity: 0.08;
        filter: blur(0.3em);
        z-index: 8;

        img {
          &:nth-child(1) {
            width: 20%;
            top: 5%;
            left: 45%;
          }

          &:nth-child(2) {
            width: 30%;
            right: -5%;
            bottom: -3%;
          }

          &:nth-of-type(3) {
            left: -3%;
            bottom: -5%;
            width: 10%;
          }
        }
      }
    }
  }
}
